* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 0.9fr 0.9fr 0.9fr 0.9fr; */
    gap: 50px 50px;
    grid-template-areas:
        "BarChart Filter"
        "LineChart ScatterPlot";
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px
}

header {
    width: 100%;
    /* color: #fff; */
    padding: 1rem;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 800px;
    justify-content: center;
    margin-top: 100px;
}

.flex-item {
    background-color: #3498db;
    color: white;
    flex: 1 1 45%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2em;
    min-width: 200px;
}


/****************************************************
 *  Define the grid areas for the different charts  *
 ****************************************************/

.BarChart {
    grid-area: BarChart;
}

.LineChart {
    grid-area: LineChart;
}

.ScatterPlot {
    grid-area: ScatterPlot;
}

.Filter {
    grid-area: Filter;
}

.Legend {
    grid-area: Legend;
}


/****************************************************
 *  Define the styles for the buttons and the flex  *
 *  container that holds the buttons                *
 ****************************************************/

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* Full viewport height */
}

.button-container button {
    margin: 0 10px;
    /* Optional, for spacing between buttons */
}

button {
    font-size: 20px;
}

/****************************************************
 *  Define the styles for the legend                *
 ****************************************************/

.axisGreen line {
    stroke: green;
    /* Changes tick lines to green */
}

.axisGreen path {
    stroke: green;
    /* Changes the axis path to green */
}

.axisGreen text {
    fill: green;
    /* Changes the tick labels to green */
    stroke: none;
    /* Ensure text doesn’t get outlined */
}

.axisBlue line {
    stroke: steelblue;
    /* Changes tick lines to green */
}

.axisBlue path {
    stroke: steelblue;
    /* Changes the axis path to green */
}

.axisBlue text {
    fill: steelblue;
    /* Changes the tick labels to green */
    stroke: none;
    /* Ensure text doesn’t get outlined */
}

/* Media query to stack the items on smaller screens */
@media (max-width: 600px) {
    .flex-item {
        flex: 1 1 100%;
    }
}