* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "BarChart ScatterPlot"
        "LineChart LineChart";
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 800px;
    justify-content: center;
}

.flex-item {
    background-color: #3498db;
    color: white;
    flex: 1 1 45%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2em;
    min-width: 200px;
}


/****************************************************
 *  Define the grid areas for the different charts  *
 ****************************************************/

.BarChart {
    grid-area: BarChart;
}

.LineChart {
    grid-area: LineChart;
}

.ScatterPlot {
    grid-area: ScatterPlot;
}

.Widget {
    grid-area: Widget;
}


/****************************************************
 *  Define the styles for the buttons and the flex  *
 *  container that holds the buttons                *
 ****************************************************/

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* Full viewport height */
}

.button-container button {
    margin: 0 10px;
    /* Optional, for spacing between buttons */
}

button {
    font-size: 20px;
}

/* Media query to stack the items on smaller screens */
@media (max-width: 600px) {
    .flex-item {
        flex: 1 1 100%;
    }
}